@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@200;700&family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/* CSS Reset */
body,
ul,
h1,
h3,
h5,
p {
    margin: 0;
    padding: 0;
}

button {
    all: unset;
    cursor: unset;
    margin-right: unset;
    cursor: pointer;
}

/* Global Container */
.container {
    width: 1344px;
    /* width + guttter */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Col*/
.col {
    padding: 0 12px;
}

/* Col 3 grid*/
.col-3 {
    width: calc(100% / 4 - 67.5px);
}

/* Col 4 grid*/
.col-4 {
    width: calc(100% / 3 - 24px);
}

/* Col 5 grid*/
.col-5 {
    width: calc(1344px / 2.4 - 24px);
}

/* Col 8 grid*/
.col-8 {
    width: calc(1344px * 2/3 - 24px);
}

/* Navbar */
#navbar {
    padding: 62px 0;
    position: absolute;
    width: 100%;
}

#navbar .container {
    justify-content: space-between;
}

#navbar .logo {
    padding: 0 12px;
}

#navbar .logo img {
    height: 60px;
    margin: auto;
}

#navbar .menu {
    padding: 0 12px;
}

#navbar ul {
    list-style: none;
}

#navbar ul::after {
    content: "";
    display: block;
    clear: both;
}

/* TODO */
#navbar ul li {
    float: left;
    margin: auto 12px;
}

#navbar ul li a {
    font-family: 'Anybody', cursive;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: white;
    text-decoration: none;
}

#navbar ul li a .active {
    font-weight: bold;
}

#navbar .button {
    padding: 0 12px;
}

#navbar .button a {
    padding: 14px 24px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-decoration: none;

    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;

    color: #293241;
}

#navbar .button a {
    align-self: baseline;
}

/* Hero */
/* TODO */
#hero {
    background-color: #0D1728;
    height: 1276px;

    background-image: url(../images/);
    background-position: 295px 449px;
}

#hero .container .content {
    margin-top: 191px;
    padding: 0 12px;
}

#hero .content p {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;

    /* identical to box height */
    text-align: center;

    color: #FFFFFF;

    opacity: 0.7;

    margin-bottom: 28px;
}

#hero .content h1 {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 138%;

    /* or 99px */
    text-align: center;

    color: #FFFFFF;

    margin: 0 auto 32px auto;
    width: 1020px;
}

#hero .content .getting-started {
    width: 50%;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 1000px;
    margin-bottom: 70px;
}

#hero .content .getting-started:focus {
    outline: blue;
}

#hero .content .getting-started form {
    display: flex;
    width: 100%;
}


#hero .content .getting-started input {
    padding: 30px 48px;
    border: 0;
    flex: 1;
    border-radius: 1000px 0 0 1000px;

    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;

    /* identical to box height */

    color: #FFFFFF;
    background: transparent;
}

#hero .content .getting-started input:focus {
    outline: none;
}

#hero .content .getting-started button {
    padding: 30px 38px;
    border-radius: 1000px;
    border: 0;
    background-color: white;
    cursor: pointer;

    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;

    /* identical to box height */

    color: #293241;

}

/* Customer */

#customer .container {}

#customer .container h5 {
    padding-top: 422px;
    width: 872px;

    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;

    /* or 62px */
    text-align: center;

    color: #293241;

}

#customer .container .cards .card {
    padding: 0 12px;
    margin: 0 12px;
    text-align: center;
    background-color: rgb(202, 202, 202);
}

#customer .container .cards .card .stars {
    margin-bottom: 32px;
}

#customer .container .cards .card p {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    /* or 178% */
    text-align: center;

    color: #293241;
    margin-bottom: 24px;
}

#customer .container .contentT {
    margin-top: 150px;
}

#customer .container .contentT h1 {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;

    /* or 62px */
    text-align: center;

    color: #293241;
}

#customer .container .contentT h3 {
    width: 754px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    /* identical to box height */
    text-align: center;
    margin: 24px auto 0 auto;

    /* Color/300 */
    color: #7F848D;

}

#vector {
    background: url('../images/Vector\ 9.svg');
    background-size: cover;
    background-position: center;
    background-position-x: 45%;
    margin-top: 70px;
    margin-bottom: 200px;
}

#vector .container .c-col-3 {
    padding: 41px 0;
    display: flex;
    justify-content: space-around;
    position: relative;
}

#vector .container .cards .cards .cards .card {
    background: url('../images/Group.png');
    background-repeat: no-repeat;
    background-color: #1E2746;
    padding: 24px;
    border-radius: 12px;
}

#vector .container .cards .cards .cards .card h2 {
    margin-top: 0;
    margin-bottom: 16px;
    text-align: left;

    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;

    /* or 178% */

    /* Color/White */
    color: #FFFFFF;

}

#vector .container .cards .cards .col-3 p {
    margin-bottom: 0;
    text-align: left;

    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    /* or 150% */

    /* Color/100 */
    color: #D4D6D9;


}

#robust .container {
    justify-content: space-between;
    margin-bottom: 192.29px;
}

#robust .container .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 379.1px;
    margin-left: 12px;
}

#robust .container .row {
    margin-right: 112px;
}

#robust .container .row img {
    margin-bottom: 27.55px;
}

#robust .container .row img:last-of-type {
    margin-bottom: 0px;
}

#robust .container .contentT1 {
    margin-right: 12px;
    width: 648px;
    height: 320.39px;
}

#robust .container .contentT1 h1 {
    margin-bottom: 24.65px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;

    /* or 62px */

    color: #293241;

}

#robust .container .contentT1 p {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;

    /* or 142% */

    /* Color/300 */
    color: #7F848D;


}

#analisis {
    background-color: #293241;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: 150px;
}

#analisis .container {
    justify-content: space-between;
    padding: 0 12px;
}

#analisis .container .contentT2 {
    margin-right: 24px;
}

#analisis .container .contentT2 button {
    border-radius: 8px;
    padding: 6px 16px;
    margin-bottom: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #293241;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    background-color: #EDCB50;
}

#analisis .container .contentT2 h1 {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;

    /* or 62px */

    /* Color/White */
    color: #FFFFFF;
    width: 648px;
    height: 186px;
}

#analisis .container .contentT2 ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#analisis .container .contentT2 ul li::before {
    content: url(../images/User\ Interface/Archery.png);
    margin-right: 16px;
    height: 32px;
}

#analisis .container .contentT2 ul li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

#analisis .container .contentT2 ul li:first-child {
    margin-top: 32px;
}

#pricing:nth-child(1) {
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
}

#pricing .container .contentT3 {
    margin-bottom: 74px;
}

#pricing .container {
    background-color: #F0F9FF;
}

#pricing .container .contentT3 h1 {
    margin-bottom: 32px;
    text-align: center;

    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;

    /* identical to box height */
    text-align: center;

    color: #293241;
}

#pricing .container .contentT3 p {
    text-align: center;

    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;

    /* identical to box height */
    text-align: center;

    /* Color/300 */
    color: #7F848D;
}

#pricing .container .cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#pricing .container .cards .card {
    padding: 32px;
    transition: .1ms ease-in-out;
}

#pricing .container .cards .card:hover {
    border: 1px solid #EDCB50;
    border-radius: 24px;
}


#pricing .container .cards .card .pricing-box {
    display: flex;
    justify-content: start;
    gap: 12px;
    align-items: flex-end;
    margin-bottom: 32px;
}

#pricing .container .cards .card .pricing-box .icon {
    width: 44px;
    height: 44px;
    padding: 14px;
}

#pricing .container .cards .yellow .pricing-box .icon {
    background-color: #EDCB50;
}

#pricing .container .cards .blue .pricing-box .icon {
    background-color: #1681FE;
}

#pricing .container .cards .green .pricing-box .icon {
    background-color: #448C74;
}

#pricing .container .cards .card .pricing-box .price {
    display: flex;
    gap: 8px;
    align-items: flex-end;
}

#pricing .container .cards .card .pricing-box .price h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    /* identical to box height */
    text-align: center;

    /* Yellow */
    color: #EDCB50;


    /* Inside auto layout */
}

#pricing .container .cards .yellow .pricing-box .price h3 {
    color: #EDCB50;
}

#pricing .container .cards .blue .pricing-box .price h3 {
    color: #1681FE;
}

#pricing .container .cards .green .pricing-box .price h3 {
    color: #448C74;
}

#pricing .container .cards .card .pricing-box .pricet {
    display: flex;
    width: 72px;
    flex-direction: column;
    gap: 8px;
    align-items: start;
}

#pricing .container .cards .card .pricing-box .pricet h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 42px;

    /* identical to box height, or 175% */

    /* Color/500 */
    color: #293241;


    /* Inside auto layout */
}

#pricing .container .cards .card .pricing-box .pricet p {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    /* identical to box height */

    /* Color/400 */
    color: #545B67;

}


#pricing .container .cards .card hr {
    margin-bottom: 50px;
}

#pricing .container .cards .card ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 50px;
}

#pricing .container .cards .card ul .disF {
    color: #A9ADB3;
}

#pricing .container .cards .card ul .disF::before {
    content: url('../images/User\ Interface/Close.png');
    margin-right: 12px;
    height: 24px;
    width: 24px;
    color: #A9ADB3;
}

/* #pricing .container .cards .card ul:nth-child(n+3):nth-child(-n+6) {
} */

#pricing .container .cards .card ul li {
    display: flex;
    align-items: center;
}

#pricing .container .cards .card ul li::before {
    content: url('../images/User\ Interface/Vector.svg');
    margin-right: 12px;
    height: 24px;
    width: 24px;
    text-align: center;
}

#pricing .container .cards .yellow ul li::before {
    content: url('../images/User\ Interface/Vector.svg');
    margin-right: 12px;
    height: 24px;
    width: 24px;
    color: #EDCB50;
}

#pricing .container .cards .blue ul li::before {
    color: #1681FE;
}

#pricing .container .cards .green ul li::before {
    color: #448C74;
}

#pricing .container .cards .card button {
    padding: 14px 145px;
    border-radius: 12px;
    border: 1px solid #EDCB50;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    /* Yellow */
    color: #EDCB50;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#pricing .container .cards {}